body {
    margin-top: 10px;
    background-color:#DCDDD8;
    font-family: 'Philosopher', sans-serif;
    color:#fff;
}

.content{
    background-color:#354B5E;
    font-size:18px;
    color:#fff;
 }

.heading{
    background: #D74B4B;
    color: #fff;
}

.txtBox{
      display:inline;
}

.btn-primary{
    background-color:#D74b4b;
}

.btn-primary:hover {
    background-color: #fff;
    color: #354B5E;
}
